# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
build/

# dbt
backend/dbt/target/
backend/dbt/dbt_packages/
backend/dbt/logs/

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

CLAUDE.md
.claude
instructions.md
.ruff_cache/
